NEXT_PUBLIC_SUPABASE_URL=https://hagdauyncrmbpdakbrcr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhZ2RhdXluY3JtYnBkYWticmNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2OTk5MDksImV4cCI6MjA5MjI3NTkwOX0.uZ27mrYSg-0zIMt7A4TBGo4RM3xmm9UiHanBzN-BHDI
NEXT_PUBLIC_APP_URL=http://localhost:3000
